@mixin flex($justify, $direction) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
}

.todo__form {
    margin-top: 10px;
    width: 80%;
    height: 50px;
    .form-group {
        @include flex(center, row);

        .form-control{
            padding: 5px 10px;
            outline: none;
            border: none;
            width: 70%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        .btn{
            width: 30%;
            cursor: pointer;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            background: linear-gradient(to right,#e74c3c,#2980b9 );
            color: #fff;
            border: none;
           


           
        }
    }
}